<div class="container" style="background-color: #faebd7;">
  <div style="text-align: center">
    <p>Card collector is an app for collecting virutal baseball cards. </p>
    <ul>
      <li>Build Using the CBS Sports API for player statistics</li>
      <li>Integrates the Giphy API for random gifs</li>
      <li>Click on an image to get a new GIF</li>
      <li>Click anywhere else on a card to flip it over</li>
    </ul>
    <p>Made with ♥ at <a href="flatironschool.com">The Flatiron School.</a> </p>
  </div>
</div>