<%= @user.email %>

<% @cards.each do |card| %>

  <%= link_to card.player.name, user_card_path(@user, card) %>


<section class="container">
  <div id="card">
    <figure class="front">
      <%= card.player.name %>
      <img src="<%=card.player.photo%>">
      </figure>
    <figure class="back">Back Player Stats
    <ul>
    <li>RBIS</li>
    <li>HRs</li>
    </ul></figure>
  </div>
</section>

<% end %>

